@model Product;


<h3 class="h-75">
    Packages
</h3>


@if (Model != null)
{

    <h5>@Model.Name</h5>
    <p>@Model.Description</p>

    <div class="d-flex flex-wrap">
        @foreach (var package in Model.Packages)
        {
            <div class="d-flex flex-column mb-3 me-3 justify-content-between" style="width: 18rem;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@package.Name</h5>
                        <p class="card-text">@package.Description</p>

                        <div class="flex justify-content-between">
                            @if (package.Amount != 0m)
                            {
                                string amount = $"{@package.Amount:N2}";
                                <p>
                                    Cost:&#8358; @amount;
                                </p>
                            }


                            @if (package.Interest != null)
                            {
                                var interestRate = decimal.Parse(package.Interest) / 100m;
                                var interest = package.Amount * interestRate;
                                string formattedInterest = $"{interest:N2}";
                                var expectedWithdrawal = package.Amount + interest;
                                string formattedExpectedWithdrawal = $"{expectedWithdrawal:N2}";

                                <p>Expected Interest: &#8358;@formattedInterest </p>
                                <p>Expected withdrawal: &#8358;@formattedExpectedWithdrawal</p>
                            }
                            @if (package.IsActive)
                            {

                                <a type="button" asp-route-id="@package.Guid" asp-controller="Invest" asp-action="PaymentDetails" >Pay</a>

                            }
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>

}
